<html>
<head>
    <title>ANSIBLE DEMO</title>
</head>
<body>
    <h1>
        My IP Address is {{ ansible_eth0.ipv4.address }}
    </h1>
    <br/><br/><br/>
    <p>
        <img src="coda.jpg" alt="Coda Logo"/>
    </p>
</body>
</html>